td {
    vertical-align: top;
}

.input {
    position: fixed;
    bottom: 0.3em;
    padding: 0.3em;
    flex-grow: 1;
    display: flex;
    width: 100%;
    
}

.input>div {
    flex-grow: 1;
    display: flex;
}

.input>div>* {
    flex-grow: 1;
}

@media only screen and (min-width: 540px) {
    .table, .table>*, .hands {
        display: inline-flex;
    }
}

@media only screen and (max-width: 540px) {
    :disabled {
        display: none;
    }
}


.box {
    margin: 0.3em;
}


.hands {
    display: inline-flex;
}


.box.current {
    background-color: lightgreen;
}
.hand.current {
    background-color: #0BDA51;
}

.card {
    font-size: 6em;
}

.♠, .♣ {
    color: black;
}
.♥, .♦ {
    color: red;
}

.money {
    color: goldenrod;
}

.money::after {
    content: "$";
}