.input {
    position: fixed;
    bottom: 0.3em;
    padding: 0.3em;
}

.table {
    display: flex;
}
.table>* {
    display: flex;
}

.box {
    border: 2px solid black;
    margin: 0.3em;
}

.properties {
    //display: none;
}

.hands {
    display: flex;
}

.hand {
    border: 1px solid gray;
}

.current {
    border: 2px solid red;
}

.card {
    font-size: 64px;
}

.♠, .♣ {
    color: black;
}
.♥, .♦ {
    color: red;
}

.money {
    color: goldenrod;
}

.money::after {
    content: "$";
}